# pyc stuff
*.pyc

# virtualenv stuff
venv

#editor stuff
.vscode
tags
tags.*

# database stuff
*.db
Untitled.code-workspace
vue-python-template.code-workspace

# node stuff
node_modules


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
