flask==1.0
flask_restful==0.3.7
flask-sqlalchemy==2.4.1
bcrypt==3.1.6
flask-jwt-extended==3.17.0
pytest==5.2
pytest-cov==2.6.1
pylint-flask==0.6
pylint-flask-sqlalchemy==0.1.0
uwsgi==2.0.18
pytest-flask==1.0.0
colorlog==4.2.1